@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
.header{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}
#form-page {
    background-color: #edf0f2;
    padding: 50px 0;
    overflow: hidden;
}
#form-page .main-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
#form-page .main-container article {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}
#form-page .title {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #444444;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

/* menu-box style */
#form-page .menu-box {
    width: 13%;
    height: 30%;
}
#form-page .menu-text {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #656565;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
#form-page .menu-box .menu-text .click{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #319ff8;
    flex-wrap: wrap;
}

/* form-box style */
#form-page .form-box {
    width: 60%;
    height: auto;
}

#form-page .form-box .menu-area {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #444444;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/* 단계별 세부 내용 */
#form-page .menu-step {
  width : 90%;
  display: inline-block;
  overflow: hidden;
}
#form-page .menu-step p{
    text-align: left;
}

/* radio */
#form-page .font-radio-set{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: bold;
    font-size: 15px;
    line-height: 50px;
}
#form-page .radio-set{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: bold;
    font-size: 15px;
    line-height: 50px;
    text-align: left;
    clear: both;
    width: 100%;
}
#step6 .const {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    margin: 5px;
}
#form-page #step3 .sticky-img{
    display: inline-block;
    overflow: hidden;
  }

#form-page .form-box .main-set {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 13px;
    text-align: center;
}
#form-page .form-box .main-set .main-commend {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
#form-page .form-box .layout-set {
    clear: both;
}
#form-page .form-box .const-select {
    margin-bottom: 10px;
    text-align: center;
}
#form-page .form-box .receipt-set {
    clear: both;
}

/* text style */
#form-page .basic-text {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #656565;
    flex-wrap: wrap;
    margin-bottom: 15px;
    text-align: left;
}
#form-page .basic-text-end {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #656565;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    clear: both;
}
#form-page .const-basic-text {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #656565;
    flex-wrap: wrap;
    margin-bottom: 15px;
    text-align: center;
}
#form-page .end{
    border-bottom: 1px solid #ddd;
    clear: both;
}

/* input-box style */
#form-page .form-box .menu-area .input-box {
    width: 100%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #c9c9c9;
}
input:focus {
    outline:none;
}

/* 메인 이미지 */
.main-set .mobile {
    width: 20%;
    height: 40%;
    object-fit: cover;
}
.main-set .basic {
    width: 60%;
    height: 40%;
    object-fit: cover;
}

/* 스티키 이미지 */
#step3 .sticky {
    width: 80%;
    object-fit: contain;
    float: left;
    display: block;
}

/* 폰트 이미지 */
#step4 .font-img {
    width: 100px;
    height: 30px;
    object-fit: contain;
    
}
/* 레이아웃 이미지 */
#step5 .layout-img-set {
    width: 60%;
    object-fit: contain;
    clear: both;
}

.const-select .mobile {
    width: 15%;
    height: 40%;
    object-fit: contain;
}

.const-select .basic {
    width: 50%;
    height: 40%;
    object-fit: contain;
    clear: both;
}

/* button style */
#form-page .form-box .next-btn {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 13px;
    display: inline-flex;
    padding: 10px 20px;
    color: #fcfcfc;
    background: #194bd6;
    margin-top: 20px;
    border-radius: 100px;
    border: none;
    float: right;
    cursor: pointer;
}
#form-page .form-box .pre-btn {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 13px;
    display: inline-flex;
    padding: 10px 20px;
    color: #fcfcfc;
    background: #194bd6;
    margin-top: 20px;
    border-radius: 100px;
    border: none;
    float: left;
    cursor: pointer;
}
#form-page .form-box .submit-btn {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 13px;
    display: inline-flex;
    padding: 10px 20px;
    color: #fcfcfc;
    background: #194bd6;
    margin-top: 20px;
    border-radius: 100px;
    border: none;
    float: right;
    cursor: pointer;
}


/* 반응형 menu-box */
@media  (max-width: 1024px){
    #form-page .menu-box {
        width: 15%;
        height: auto;
    }
}
@media (max-width: 768px) {
    #form-page .menu-box {
        width: 100%;
    }
}

/* 반응형 form-box */
@media (max-width: 1024px){
    #form-page .form-box {
        width: 70%;
        height: auto;
    }
}
@media (max-width: 768px){
    #form-page .form-box {
        width: 100%;
        height: auto;
    }
}