@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
.header {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

/* Radio */
.radio {
	display: none;
}
.radio + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}
.radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}
.radio:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}
.radio + label:active, .radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.big-radio + label {
	padding: 16px;
    margin: 10px;
    vertical-align: middle; 
}
.big-radio:checked + label:after {
	width: 24px;
	height: 24px;
	left: 4px;
	top: 4px;
}
.radio-style {
    width: 100%;
    text-align: left;
    font-size: 20px;
}

/* check box */
label {
	display: inline;
}
.checkbox {
	display: none;
}
.checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.checkbox + label:active, .checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}
.big-checkbox + label {
	padding: 18px;
    margin: 10px;
    vertical-align: middle; 
}
.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

/* form */
#form-page {
    background-color: #edf0f2;
    padding: 50px 20px;
    overflow: hidden;
}
#form-page .main-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
#form-page .main-container article {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}
#form-page .title {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: bold;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    color: #444444;
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ddd;
}

/* menu-box style */
#form-page .menu-box {
    width: 10%;
    height: 30%;
}
#form-page .menu-text {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #656565;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
#form-page .menu-box .menu-text .click{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #319ff8;
    flex-wrap: wrap;
}

/* form-box style */
#form-page .form-box {
    width: 77%;
    height: auto;
}
#form-page .form-box .menu-area {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #444444;
    margin-bottom: 20px;
    text-align: center;
}

/* 단계별 세부 내용 */
#form-page .menu-step {
    width : 90%;
    display: inline-block;
    overflow: hidden;
  }
  #form-page .menu-step p{
      text-align: left;
  }
  
/* step1 */
.input-color {
    width: 100%;
    height: auto;
    display: flex;
}
.color-box {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
}
.color-plus {
    width: 77px;
    height: 77px;
    float: left;
    margin-right: 10px;
    background-color: #f9f9f9;
    border: 1px dashed rgb(158, 156, 156);
    cursor: pointer;
}

/* step2 */
.main-img {
    display: flex;
    margin-bottom: 20px;
}
.main-set .mobile {
    width: 20%;
    height: 40%;
    object-fit: cover;
    margin-right: 15px;
}
.main-set .basic {
    width: 60%;
    height: 40%;
    object-fit: cover;
}

/* step3 */
.checkbox-style {
    float: left;
    font-size: 20px;
}
#form-page #step3 .sticky-img{
    display: inline-block;
    overflow: hidden;
    padding: 10px 0;
}
#step3 .sticky {
    width: 85%;
    object-fit: contain;
    float: left;
    display: block;
}

/* step5 */
.layout-img {
    display: flex;
    margin-bottom: 20px;
}
.layout-img .basic {
    width: 40%;
    object-fit: contain;
    float: left;
}

/* step6 */
.accordion-container{
    width: 100%;
}
.accordion-container .item-wrap{
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 13px;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 20px;
    background: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion-container .item-wrap:focus {
    border: 1px solid #194bd6;
}
.accordion-container .item-wrap img {
    width: 30px;
}
.accordion-container .item-wrap .ar-title{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.accordion-container .item-wrap img{
    transform: rotate(180deg);
}
.accordion-container .open img{
    transform: rotate(0deg);
}
.accordion-container .item-wrap .detail-info{
    margin-top: 41px;
    position: relative;
    display: none;
}
.accordion-container .item-wrap .detail-info:after{
    position: absolute;
    content: "";
    width: calc(100% + 40px);
    top:-20px;
    left: -20px;
    height: 1px;
    background-color: #dddddd;
}

.const-img {
    display: flex;
    margin-bottom: 20px;
}
.const-img .mobile {
    width: 20%;
    height: 30%;
    object-fit: cover;
    margin-right: 15px;
}
.const-img .basic {
    width: 50%;
    height: 30%;
    object-fit: cover;
}
.feature-img {
    display: flex;
    margin-bottom: 20px;
}
.feature-img .mobile {
    width: 20%;
    height: 30%;
    object-fit: cover;
    margin-right: 15px;
}
.feature-img .basic {
    width: 60%;
    height: 30%;
    object-fit: cover;
}
.receipt-img {
    display: flex;
    margin-bottom: 20px;
}
.receipt-img .basic {
    width: 60%;
    height: 30%;
    object-fit: cover;
}
.contact-img {
    display: flex;
    margin-bottom: 20px;
}
.contact-img .basic {
    width: 50%;
    height: 30%;
    object-fit: cover;
}
.franchise-img{
    display: flex;
    margin-bottom: 20px;
}
.franchise-img .mobile {
    width: 20%;
    height: 30%;
    object-fit: cover;
    margin-right: 15px;
}
.franchise-img .basic {
    width: 50%;
    height: 30%;
    object-fit: cover;
}

/* text style */
#form-page .basic-text {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #656565;
    flex-wrap: wrap;
    margin-bottom: 15px;
    text-align: left;
}
#form-page .basic-text-end {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #656565;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    clear: both;
}
.text-commend {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
#form-page .end{
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    clear: both;
}

/* input-box style */
#form-page .form-box .menu-area .input-box {
    width: 100%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #c9c9c9;
}
input:focus {
    outline:none;
}

/* button style */
.next-btn {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 15px;
    display: inline-flex;
    padding: 10px 20px;
    color: #fcfcfc;
    background: #194bd6;
    margin-top: 20px;
    border-radius: 100px;
    border: none;
    float: right;
    cursor: pointer;
}
.pre-btn {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 15px;
    display: inline-flex;
    padding: 10px 20px;
    color: #fcfcfc;
    background: #194bd6;
    margin-top: 20px;
    border-radius: 100px;
    border: none;
    float: left;
    cursor: pointer;
    clear: both;
}
.submit-btn {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: normal;
    font-size: 15px;
    display: inline-flex;
    padding: 10px 20px;
    color: #fcfcfc;
    background: #194bd6;
    margin-top: 20px;
    border-radius: 100px;
    border: none;
    float: right;
    cursor: pointer;
}

@media (max-width: 768px) {
    #form-page {
        background-color: #edf0f2;
        padding: 30px 10px;
        overflow: hidden;
    }
}

/* 반응형 menu-box */
@media  (max-width: 1024px){
    #form-page .menu-box {
        width: 10%;
        height: auto;
    }
}
@media (max-width: 768px) {
    #form-page .menu-box {
        width: 100%;
    }
}

/* 반응형 form-box */
@media (max-width: 1024px){
    #form-page .form-box {
        width: 70%;
        height: auto;
    }
}
@media (max-width: 768px){
    #form-page .form-box {
        width: 100%;
        height: auto;
    }
}

/* mobile text */
@media (max-width: 768px){
    .header {
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        font-weight: bold;
        font-size: 25px;
        padding: 20px;
        text-align: center;
    }
    #form-page .title {
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        font-weight: bold;
        font-size: 17px;
        line-height: 15px;
        text-align: center;
        color: #444444;
        margin-bottom: 20px;
        padding-bottom: 25px;
        border-bottom: 1px solid #ddd;
    }
    #form-page .menu-text {
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #656565;
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    #form-page .menu-box .menu-text .click{
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        color: #319ff8;
        flex-wrap: wrap;
    }    
    #form-page .form-box .menu-area {
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        font-weight: normal;
        font-size: 13px;
        line-height: 150%;
        color: #444444;
        margin-bottom: 20px;
        text-align: center;
    }
    .radio-style {
        width: 100%;
        text-align: left;
        font-size: 16px;
    }
    #form-page .basic-text {
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        font-weight: normal;
        font-size: 13px;
        line-height: 150%;
        color: #656565;
        flex-wrap: wrap;
        margin-bottom: 10px;
        text-align: left;
    }
    #form-page .basic-text-end {
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        font-weight: normal;
        font-size: 13px;
        line-height: 150%;
        color: #656565;
        flex-wrap: wrap;
        margin-bottom: 10px;
        padding-bottom: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        clear: both;
    }
    .text-commend {
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        font-weight: bold;
        font-size: 15px;
        text-align: center;
    }
    .accordion-container .item-wrap .ar-title{
        font-size: 15px;
        font-weight: bold;
        margin: 0;
    }
    .next-btn {
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        font-weight: normal;
        font-size: 13px;
        display: inline-flex;
        padding: 10px 20px;
        color: #fcfcfc;
        background: #194bd6;
        margin-top: 20px;
        border-radius: 100px;
        border: none;
        float: right;
        cursor: pointer;
    }
    .pre-btn {
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        font-weight: normal;
        font-size: 13px;
        display: inline-flex;
        padding: 10px 20px;
        color: #fcfcfc;
        background: #194bd6;
        margin-top: 20px;
        border-radius: 100px;
        border: none;
        float: left;
        cursor: pointer;
        clear: both;
    }
    .submit-btn {
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        font-weight: normal;
        font-size: 13px;
        display: inline-flex;
        padding: 10px 20px;
        color: #fcfcfc;
        background: #194bd6;
        margin-top: 20px;
        border-radius: 100px;
        border: none;
        float: right;
        cursor: pointer;
    }
}
